<div class="container p-3 my-3 bg-dark text-light">
    <img class="mx-auto d-block" src="assets\images\LogoLong.png" alt="DATA-COP Rulez" height="50">
    <hr class="bg-light">
    <div class="row">
        <div *ngFor='let user of users' class="col-lg-4">
            <a href="{{user.linkedIn}}" target="_blank">
                <img class="rounded-circle mx-auto d-block" src="{{user.image}}" height="150">
            </a>
            <h2>{{user.name}}</h2>
            <p>{{user.description}}</p>
        </div>
    </div>
</div>
