.actionBtn{
    width: 7em;
}

.tab-content>.tab-pane {
    display: block;
    height: 0;
    overflow: hidden;
}
.tab-content>.tab-pane.active {
    height: auto;
}
.tab-pane.active {
    animation: slide-down 0.5s ease-out;
}

@keyframes slide-down {
    0% { opacity: 0; transform: translateX(100%); }
    100% { opacity: 1; transform: translateX(0); }
}
