/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.gm-ui-hover-effect {
    display: none !important;
}

.nav-link{
    color: #ffffff;
}

.nav-link:hover{
    color: #ffffff;
}

.selected-item{
    background-color: #666666!important;
    border-color: #666666!important;
    margin: 2px!important;
}

.mat-slider-thumb-label {
    transform: rotate(45deg) !important;
    border-radius: 50% 50% 0 !important;
  }

.mat-slider-thumb {
    transform: scale(0) !important;
}

.mat-slider-thumb-label-text {
    opacity: 1 !important;
}


/* Estilo de la barra de progreso */
#progress-bar-div{
    position: fixed;
    z-index:1000;
    height: 100%;
    width: 100%;
	background-color: rgba(50, 50, 50, 0.5);
}
#progress-bar{
    top: 50%;
    left: 10%;
    width: 80%;
}
