<div class="container p-3 my-3 bg-dark text-light">
    <img class="mx-auto d-block" src="assets\images\LogoLong.png" alt="DATA-COP Rulez" height="50">
    <hr class="bg-light">
    <h1 class="text-center">Forecasting of Dengue outbreaks in Colombia based on environmental and meteorological data</h1>  
    <div class="row featurette">
        <div class="col-md-8">
            <h2 class="featurette-heading text-center">Dengue in Colombia<small class="text-muted"> It'll blow your mind.</small></h2>
            <p class="lead  text-justify">Dengue is a disease with no vaccine or specific treatment, which is transmitted by the female Aedes aegypti mosquito which is present in urban areas with altitudes lower than 2200 metres, including many of Colombia’s main cities. This disease can affect people in every age range, but it can be especially dangerous for children and older adults. So far this year there have been 53.602 suspected cases of dengue, 590 severe cases of dengue in Colombia, leaving 20 dead people, and according to the WHO there are around 100-400 million infections every year. Despite this, Dengue outbreaks are only controlled through reactive strategies (i.e., fumigation in the affected areas)</p>
        </div>
        <div class="col-md-4">
            <img class="mx-auto d-block" src="assets\images\DengueCartoon.png" alt="DATA-COP Rulez" height="250">
        </div>
    </div>
    <p class="lead text-justify">For these reasons, it is important to have a warning system capable of identifying possible Dengue virus outbreaks. Being able to forecast such events allows the communities and relevant health entities to create action plans to mitigate the propagation of the disease. Health control organizations are usually in overcapacity attending patients with these kinds of symptomatologies, and during this pandemic they are allocating more resources to Covid-19 patients than to other epidemics, so accurate forecasts would help reduce the pressure on the already strained Colombian health system.</p>
    <div class="text-center m-3 embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/_T0sZDlNq-0?controls=0" allowfullscreen></iframe>
    </div>
</div>
